* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

#screen-box {
  width: 512px;
  height: 400px;
  margin: 0 auto;
  padding: 20px 20px 32px 20px;
  background-color: #aaa;
  text-align: center;
}

#screen {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  border-top: 2px solid #777;
  border-left: 2px solid #777;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  transition: background-color, 0.3s;

  align-content: center;
  justify-content: center;

  font-size: 2em;
  color: rgb(103, 103, 255);
}

#btns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 512px;
  height: 128px;
  background: linear-gradient(#aaa, #fff, #aaa);
}

.btn-circle {
  margin: auto 20px;
  height: 74px;
  width: 74px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: height 0.3s, width 0.3s, transform 0.3s;
}

.btn-circle:hover {
  height: 78px;
  width: 78px;
  box-shadow: 1px 1px 8px 2px #777;
  transform: rotate(-90deg);
}

.btn-circle.red {
  background-color: #f00;
}

.btn-circle.green {
  background-color: #0f0;
}

.btn-circle.yellow {
  background-color: #ff0;
}

.btn-circle.blue {
  background-color: #00f;
}